# Replace with the appropriate values for your environment.
REPORT_RUNNER_BIND_IP=172.31.30.34
REPORT_RUNNER_PORT=8080

# These are examples of how to set the path to the fonts jar files. You can change these as needed.
# See https://discourse.specifysoftware.org/t/specify-report-runner-fonts/1659
FONTS_JAR=/home/ubuntu/report-runner-service/report-fonts.jar
GOOGLE_FONTS_JAR=/home/ubuntu/report-runner-service/google-fonts.jar